<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104087710194-ulffee1j869v9kngjf9b5dpt5kelrlfu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104087710194-ulffee1j869v9kngjf9b5dpt5kelrlfu</string>
	<key>API_KEY</key>
	<string>AIzaSyDdH6c7KPXvZV5TXO30_pi7D3cLUGG6xCs</string>
	<key>GCM_SENDER_ID</key>
	<string>104087710194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simanerush.Todotik</string>
	<key>PROJECT_ID</key>
	<string>todotik-310d6</string>
	<key>STORAGE_BUCKET</key>
	<string>todotik-310d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104087710194:ios:703e28a4d970265fb7636b</string>
</dict>
</plist>